// -- TABLET L 960px --

@media (max-width: 960px) {

  //HEADER
  .logo-underheader {
    display: none;
  }

  //WORKS 
  .works-list>li {
    width: 50%;
  }
}

// -- TABLET M 848px --

@media (max-width: 848px) {

  //SERVICE
  .service-container,
  .contact-us {
    width: 66%;
  }
}


// -- TABLET S 768px --

@media (max-width: 768px) {

  //HEADER
  .contacts-list {
    display: none;
  }

  // MENU
  @keyframes translate {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(320px);
    }
  }

  .menu {
    &-container {
      position: absolute;
      top: 0;
      left: -320px;

      display: none;

      width: 80%;
      max-width: 360px;

      padding: 20px;

      background-color: #e7e7e7;
      box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.6);

      transition: transform .25s ease-in-out;

      a {
        color: black;
        font-weight: 600;
        font-size: 18px;

        &:hover,
        &:focus {
          color: red;
        }
      }
    }

    &-list {
      display: block;

      &>li {
        margin-top: 25px;
      }

      &>li:first-of-type {
        margin-top: 0;
      }
    }

    &-open {
      display: block;

      &.active+.menu-container {
        display: block;
        
        transform: translateX(320px);

        animation: translate .25s ease-in-out;
      }
    }
  }

  //SERVICE
  .service-container,
  .contact-us {
    width: 100%;
  }

  .service-list {
    list-style-position: inside;
  }

  // ADVANTAGES
  .advantages-inner {
    padding: 0;

    .image-container {
      width: 100%;
      min-width: 320px;
      min-height: 280px;

      background-position: 50% 32%;
    }
  }

  //TARIFFS
  .tariffs-inner {
    .tariffs-table {
      display: none;

      &.mobile {
        display: table;
      }
    }
  }

  //POPUP

  .popup-inner .close {
    top: 0;
    right: 0;
  }
}

// -- MOBILE L 425px --

@media (max-width: 425px) {

  // HEADER
  .header-inner,
  .service-inner,
  .defended-inner,
  .request-inner,
  .tariffs-inner,
  .config-inner,
  .profit-inner,
  .specializations-inner,
  .speakers-inner,
  .works-inner,
  .cases-inner,
  .reviews-inner,
  .contacts-inner,
  .footer-inner,
  .popup-inner {
    padding: 20px;
  }

  // DEFENDED
  .defended-statistic .text-large {
    font-size: 40px;
  }

  //ADVANTAGES
  .advantages-inner .image-container {
    background-image: url("../../img/advantages-bg-mobile.min.jpg");
  }

  //WORKS 
  .works-list>li {
    width: 100%;
  }
}

// -- MOBILE M 375px --

@media (max-width: 375px) {

  // DEFENDED
  .defended-statistic .text-large {
    font-size: 34px;
  }
}

// -- MOBILE S 320px --

@media (max-width: 320px) {

  // DEFENDED
  .defended-statistic .text-large {
    font-size: 30px;
  }
}