.owl-stage {
  display: flex;

  & .owl-item {
    display: flex;
    align-items: center;
    justify-content: center;

    .review {
      display: block;
      min-width: 166px;
      max-width: 166px;
      min-height: 218px;
      max-height: 218px;

      padding: 24px 25px;

      background: url("../../img/reviews-border.min.jpg") center top no-repeat;
    }

    img {
      display: block;
      width: auto;
      max-height: 165px;
    }

    .button {
      min-width: 270px;
    }
  }
}