@import "./components/mixins";
@import "./components/global";
@import "./components/palilalia";

//HEADER

.header {
  &-wrapper {
    @include wrapper;

    background-color: white;
  }

  &-inner {
    @include inner;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: black;

    .logo {
      color: $red;
    }
  }
}

.menu {
  &-container {
    width: 50%;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &>li {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &-open {
    position: relative;

    display: none;
    width: 30px;
    height: 5px;

    background-color: black;
    border: 0;
    outline: none;

    transition: transform .25s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: -12px;
      left: 12px;

      width: 5px;
      height: 30px;

      background-color: black;
    }

    &.active {
      transform: rotateZ(45deg);
    }
  }
}


.contacts-list {
  &>li {
    position: relative;
  }

  &>li:first-of-type {
    margin-bottom: 5px;
  }

  .phone::before {
    @include icon;
    left: -20px;

    width: 15px;
    height: 100%;

    background-image: url("../../img/icons/phone.min.svg");
  }

  .mail::before {
    @include icon;
    left: -20px;

    width: 15px;
    height: 100%;

    background-image: url("../../img/icons/mail.min.svg");
  }
}

// SERVICE

.service {
  &-wrapper {
    @include wrapper;

    background-color: gray;
    background-image: url("../../img/service-bg.min.png");
    background-position: 50% 50%;
    background-size: cover;
  }

  &-inner {
    @include inner;

    padding: 150px 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: white;
    font-size: 24px;
    text-align: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;

    margin-bottom: 20px;
  }

  &-list {
    text-align: left;
    list-style: url("../../img/icons/tick.min.svg") outside;

    &>li {
      margin-bottom: 15px;
    }
  }
}

// DEFENDED

.defended {
  &-wrapper {
    @include wrapper;
  }

  &-inner {
    @include inner;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &-statistic {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    min-width: 280px;

    margin: 15px 0;

    text-align: center;

    .text-large {
      font-size: 52px;
      font-weight: 600;
    }
  }
}

// ADVANTAGES

.advantages {
  &-wrapper {
    @include wrapper;

    background-color: rgb(231, 231, 231);
  }

  &-inner {
    @include inner;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-size: 24px;

    .image-container {
      width: 45%;
      min-width: 320px;
    }
  }

  &-container {
    width: 45%;
    min-width: 280px;
  }

  &-list {
    margin-left: 55px;

    font-size: 18px;

    &>li {
      position: relative;

      margin-bottom: 18px;
    }

    .team::before {
      @include icon;

      background-image: url("../../img/icons/team.min.svg");
    }

    .justice::before {
      @include icon;

      background-image: url("../../img/icons/justice.min.svg");
    }

    .cash::before {
      @include icon;

      background-image: url("../../img/icons/cash.min.svg");
    }

    .time::before {
      @include icon;

      background-image: url("../../img/icons/time.min.svg");
    }

    .partnership::before {
      @include icon;

      background-image: url("../../img/icons/partnership.min.svg");
    }
  }
}

// REQUEST

.request {
  &-wrapper {
    @include wrapper;

    background-color: black;
  }

  &-inner {
    @include inner;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
    font-size: 24px;

    background-image: url("../../img/request-bg.min.png");
    background-position: 110% 50%;
    background-repeat: no-repeat;
    background-size: 66%;

    p {
      background-color: rgba($color: black, $alpha: 0.5)
    }

    button {
      @include standardButton;

      max-width: 320px;

      margin-top: 20px;
    }
  }
}

// TARIFFS

.tariffs {
  &-wrapper {
    @include wrapper;
  }

  &-inner {
    @include inner;

    .tariffs-table {
      width: 100%;
      
      border-collapse: collapse;

      border-spacing: 10px 0;

      tr {
        border: 1px solid rgb(231, 231, 231);
        transition: 0.3s;
      }

      th,
      td {
        padding: 15px;

        font-size: 16px;
        text-align: center;

        border: 1px solid rgb(231, 231, 231);
      }

      .non-available, .available {
        background-image: url("../../img/icons/non-available.min.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      .available {
        background-image: url("../../img/icons/available.min.svg");
      }

      .price {
        font-size: 16px;
        color: gray;
      }

      &.mobile {
        display: none;
        width: 49%;
        min-width: 280px;
      }
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &>table {
      margin-bottom: 15px;
    }
  }
}

// CONFIG

.config {
  &-wrapper {
    @include wrapper;

    background-color: black;
  }

  &-inner {
    @include inner;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    color: white;
    font-size: 24px;
    text-align: right;

    background-image: url("../../img/config.min.png");
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: 45%;

    button {
      @include standardButton;

      width: 100%;
      max-width: 400px;

      margin-top: 20px;
      padding: 0 20px;
    }

    p {
      width: 50%;
      min-width: 200px;
    }
  }
}

// PROFIT

.profit {
  &-wrapper {
    @include wrapper;
  }

  &-inner {
    @include inner;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 50%;
      min-width: 280px;
      height: 40px;

      margin: 0 10px 10px 0;

      border: none;
      border-bottom: 1px solid gray;
    }

    button {
      @include standardButton;
      width: 100%;
      max-width: 320px;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    table {
      width: 50%;
      min-width: 320px;

      margin-top: 10px;

      caption {
        font-weight: 600;
      }

      tr {
        td {
          padding: 10px;
        }

        td:last-of-type {
          text-align: right;
        }
      }
    }
  }
}

// SPECIALIZATION

.specializations {
  &-wrapper {
    @include wrapper;

    background-color: #e7e7e7;
  }

  &-inner {
    @include inner;
  }
}

// SPEAKERS

.speakers {
  &-wrapper {
    @include wrapper;

    background-color: #e7e7e7;
  }

  &-inner {
    @include inner;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &>li {
      width: 20%;
      min-width: 280px;

      margin-bottom: 40px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

// WORKS

.works {
  &-wrapper {
    @include wrapper;

    background-color: black;
  }

  &-inner {
    @include inner;

    color: white;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    &>li {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 25%;
      min-width: 200px;

      padding: 20px;

      text-align: center;
    }

    .round {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 100px;
      height: 100px;

      margin: 20px 0;

      color: white;
      font-size: 50px;

      background-color: $red;
      border-radius: 50px;

      &::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        width: 120px;
        height: 120px;

        background-color: rgba($color: black, $alpha: 0);
        border: 4px dotted $red;
        border-radius: 65px;

        transform: translate(-50%, -50%);
      }
    }
  }
}

// CASES 

.cases {
  &-wrapper {
    @include wrapper;
  }

  &-inner {
    @include inner;
  }
}

.owl-carousel.cases {
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    min-width: 280px;

    .request,
    .decision {
      position: relative;
      width: 49%;
      min-width: 280px;

      padding: 40px 20px 20px 20px;

      border: 1px solid $red;


      &::before {
        content: "Суть дела:";

        position: absolute;
        top: 5px;

        color: $red;
        font-weight: 600;
      }
    }

    .request {
      border-right: none;
      border-bottom: none;
    }

    .decision {
      border-color: green;
      border-top: none;
      border-left: none;

      &::before {
        content: "Решение:";

        color: green;
      }
    }
  }
}

// REVIEWS

.reviews {
  &-wrapper {
    @include wrapper;

    background-color: rgb(231, 231, 231);
  }

  &-inner {
    @include inner;
  }
}

// CONTACTS 

.contacts {
  &-wrapper {
    @include wrapper;
  }

  &-inner {
    @include inner;

    font-size: 24px;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      width: 50%;
      min-width: 280px;

      padding: 0 20px;

      .phones-list>li {
        margin-bottom: 10px;
      }

      button {
        @include standardButton;
        width: 100%;

        margin-top: 40px;
      }
    }
  }
}

// MAP 

.map-wrapper {
  width: 100%;
  height: 400px;
}

// FOOTER 

.footer {
  &-wrapper {
    @include wrapper;

    background-color: rgb(231, 231, 231);
  }

  &-inner {
    @include inner;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// POPUP

.popup {
  &-wrapper {
    @include wrapper;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: rgba($color: black, $alpha: 0.5);

    transform: translate(-50%, -50%);
  }

  &-inner {
    @include inner;
    width: 50%;
    max-width: 550px;
    min-width: 320px;

    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 12;

    transform: translate(-50%, -50%);

    .contact-us {
      width: 100%;

      color: white;

      background-color: black;
    }

    .close {
      @include standardButton;

      position: absolute;
      top: -10px;
      right: 40px;
    }
  }
}

@import "./components/adaptive";